.container {
    margin: 0 auto;
    max-width: 800px;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #E2D0F8;
    border-bottom: 1px solid white;
  }
  
  .homeButton {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .headerTitle {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  
  .main {
    padding: 20px;
    background-color: white;
  }
  
  .activityList {
    list-style: none;
    padding: 0;
  }
  
  .activityItem {
    background-color: rgba(226, 208, 248, 0.3);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
  }
  
  .activityDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .activityCategory {
    font-weight: bold;
    color: rgba(74, 85, 162, 1);
  }
  
  .activityItemTitle {
    font-weight: bold;
    font-size: 16px;
  }
  